<footer class="bg-black pt-16 pb-12 border-t border-gray-100">
    <div class="container grid grid-cols-3">
        <div class="col-span-1 space-y-8 mr-2">
            <img src="../assets/images/logo.svg" alt="logo" class="w-30">
            <div class="mr-2">
                <p class="text-white text-xl">
                    Siêu thị bảo hộ, luôn dõi theo và bảo vệ người lao động!
                </p>
            </div>
            <div class="flex space-x-6">
                <a href="#" class="text-white hover:text-white"><i
                    class="text-xl pi pi-facebook"></i></a>
                <a href="#" class="text-white hover:text-white"><i
                    class="text-xl pi pi-instagram"></i></a>
                <a href="#" class="text-white hover:text-white"><i
                    class="text-xl pi pi-linkedin"></i></a>
                <a href="#" class="text-white hover:text-white">
                    <i class="text-xl pi pi-youtube"></i>
                </a>
            </div>
        </div>

        <div class="col-span-2 grid grid-cols-2 gap-8">
            <div class="grid grid-cols-2 gap-8">
            </div>
            <div class="grid grid-cols-2 gap-8">
                <div>
                    <h3 class="text-sm font-semibold text-white uppercase tracking-wider">Solutions</h3>
                    <div class="mt-4 space-y-4">
                        <a href="#" class="text-base text-white hover:text-slate-400 block">Marketing</a>
                        <a href="#" class="text-base text-white hover:text-slate-400 block">Analitycs</a>
                        <a href="#" class="text-base text-white hover:text-slate-400 block">Commerce</a>
                        <a href="#" class="text-base text-white hover:text-slate-400 block">Insights</a>
                    </div>
                </div>

                <div>
                    <h3 class="text-sm font-semibold text-white uppercase tracking-wider">Support</h3>
                    <div class="mt-4 space-y-4">
                        <a href="#" class="text-base text-white hover:text-slate-400 block">Pricing</a>
                        <a href="#" class="text-base text-white hover:text-slate-400 block">Documentation</a>
                        <a href="#" class="text-base text-white hover:text-slate-400 block">Guides</a>
                        <a href="#" class="text-base text-white hover:text-slate-400 block">API Status</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>