<!-- <div id="login" class="middle-content">
  <mat-card class="width-500px" style="overflow: hidden;">
    <mat-card-header><h1 class="login-header">Sign in</h1></mat-card-header>
    <mat-card-content>
      <div class="container">
        <form class="sign-in-form" #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
          <div class="row-control">
            <mat-form-field class="width-full" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" ngModel name="username" />
            </mat-form-field>
          </div>
          <div class="row-control">
            <mat-form-field class="width-full" appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" ngModel name="password"/>
            </mat-form-field>
          </div>
          <div class="row-control space-between">
            <mat-checkbox ngModel name="rememberMe">Remember me</mat-checkbox>
            <div class="row-actions">
              <button mat-raised-button color="primary" type="submit">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->