<div class="header">
    <div class="above-header ">
        <div class="container above-header-wrap flex items-center justify-between">
            <div class="above-header-left flex items-center">
                <span class="above-header-icon">
                    <i class="pi pi-home"></i>
                </span>
                <p class="">Hệ thống showroom</p>
            </div>
            <div class="above-header-right flex items-center">
                <span class="above-header-icon">
                    <i class="pi pi-phone"></i>
                </span>
                <p class="">Mua hàng online: 0246.2909 098</p>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container main-header-wrap">
            <!-- <span class="logo-app">
                <img src="" alt="" srcset="">
            </span> -->
            <h1>Header trang web</h1>
        </div>
    </div>

</div>
